
@{
    ViewBag.Title = "Add";
}

<h2>NewProduct</h2>

<br /><hr />

<form method="post">
    ID: <input type="text" name="id" placeholder="Unesite ID" />
    <br /><hr />
    Name: <input type="text" name="name" placeholder="Unesite ime" />
    <br /><hr />
    Cena: <input type="text" name="price" placeholder="Unesite cenu" />
    <br /><hr />
    <input type="submit" value="Dodaj!" />
</form>