
@{
    ViewBag.Title = "Update";
}

<h2>Update</h2>


<br /><hr />

      <form method="post">
          <input type="text" name="id" value="@ViewBag.id" hidden />
          Name: <input type="text" name="name" placeholder="Unesite ime" />
          <br /><hr />
          Cena: <input type="text" name="price" placeholder="Unesite cenu" />
          <br /><hr />
          <input type="submit" value="Update!" />
      </form>